%li.game.container_16
  .team_a.grid_8
    .flag.flaga= image_tag("flags/48/#{game.team_a.country.downcase}.png")
    .country= t(game.team_a.country, :scope => 'countries')
  .team_b.grid_8
    .flag.flagb= image_tag("flags/48/#{game.team_b.country.downcase}.png")
    .country= t(game.team_b.country, :scope => 'countries')
  .infos
    .round= t(game.round, :scope => 'rounds')
    .date= l(game.start_at)