= fb_connect_async_js

.container_12

  #games.grid_4
    %h2= t('.matches')
    %ol.games= render @games
  #center.grid_5
    - if @current_games.present?
      = render 'current_games'
    - else
      = render 'next_game'
    #infos.container_12
      .grid_8
        %h2= link_to t('.how'), page_path('howto'), :class => 'fancy'
      .grid_4
        %h2= link_to t('.faq'), page_path('faq'), :class => 'fancy'
        - user_friends = current_facebook_user.friends.map(&:id) 
        = fb_multi_friend_selector("Invite your friends to check out this site", :showborder => true, :exclude_ids => user_friends)
    = render 'past_games'
    
    
  #ranking.grid_3
    %h2= t('.ranking')
    %ol= render @users