= fb_connect_async_js

.container_12

  #games.grid_4
    %h2
      = t('.matches')
      .status= render 'bets/status'
    %ol.games= render 'upcoming'

  #center.grid_5
    - if @current_games.present?
      = render 'current_games'
    - else
      = render 'next_game'
    = render 'past_games'  
    = render 'chat'

  #ranking.grid_3{ :'data-url' => ranking_path }
    %h2= t('.ranking')
    %ol= render 'ranking'
