.brand
  = link_to image_tag('logo.png'), root_path, :id => 'logo'
  .logo= t('.logo')
  .sub= t('.powered_by').html_safe

#top_stats
  .item
    %label= t('.your_score')
    .number= @current_user.score || 0
  .item
    %label= t('.your_rank')
    .number= @current_user.score_ranking